@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexCenter($direction, $horizontal, $vertical) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

//Colors

$mainColor: #f4f4f4;
$bgHeader: rgba(40, 40, 40, 0.8);
$maxWidth: 1900px;
