@import "./variables";

@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat/Montserrat-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

//convert this class to :host within the web component
.custom_element {
  font-size: 18px;
  display: block;
  @include size(28.125em, 21.875em);
  border-radius: 1.25em;
  //margin: 0 auto;
  perspective: 1000px;

  .flipped {
    transform: rotateY(180deg);
  }
  .card_inner {
    @include size(100%, 100%);
    position: relative;
    border-radius: 1.25em;
    transform-style: preserve-3d;
    transition: all 1.5s ease;

    .card_face {
      @include size(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 1.25em;
      //background-color: #fff;
      box-shadow: 0em 0.3125em 0.625em rgba(0, 0, 0, 0.25);
    }

    .card_face-front {
      background-color: #f4f4f4;
      position: relative;

      .img_container {
        @include flexCenter(column, center, center);
        @include size(28.125em, 65%);
        //Use a background-color of the image
        background-color: #212121;
        overflow: hidden;

        .card_face-image {
          @include size(100%, auto);
          margin: auto;
        }
      }
      .card_description {
        margin: 0 auto;
        @include size(100%, 35%);
        padding-left: 1.5625em;
        padding-right: 1.5625em;
        border-radius: 1.25em;
        @include flexCenter(column, space-evenly, space-evenly);

        .project_name {
          font-size: 1.375em;
          font-weight: 500;
          transition: 0.2s all ease-in-out;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
          &:visited {
            color: #202020;
          }
          &:active {
            color: #202020;
            transform: scale(0.99);
          }
        }
        .flip_container {
          @include flexCenter(row, space-between, center);

          .watch_project {
            font-size: 0.875em;
          }
          img {
            @include size(2.5em, 2.5em);
            cursor: pointer;
            transition: 0.2s all ease-in-out;

            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    .card_face-back {
      transform: rotateY(180deg);
      background-color: #fff;

      .card_caption {
        width: 100%;
        height: auto;
        line-height: 1.5625em;
        padding: 1.5625em 1.25em 0 1.25em;
        font-size: 0.875em;
        cursor: pointer;
      }
    }
  }
}
